In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
df = pd.read_csv("../data/data.csv", index_col=0)
df.head()

,month,year,url,pgn,time_control,rated,time_class,rules,white_rating,white_result,white_username,black_rating,black_result,black_username
id,,,,,,,,,,,,,,
0,12,2018,https://www.chess.com/game/daily/213688986,"[Event ""Let's Play!""]\r\n[Site ""Chess.com""]\r\...",1/259200,True,daily,chess,1073,checkmated,DyrektorInterneta,1198,win,CodingGambit
1,12,2018,https://www.chess.com/game/daily/213790380,"[Event ""Let's Play!""]\r\n[Site ""Chess.com""]\r\...",1/259200,True,daily,chess,1038,win,Petz68,1032,resigned,CodingGambit
2,12,2018,https://www.chess.com/game/daily/213688978,"[Event ""Let's Play!""]\r\n[Site ""Chess.com""]\r\...",1/259200,True,daily,chess,1102,win,CodingGambit,941,checkmated,Hidde35
3,1,2019,https://www.chess.com/game/daily/213819732,"[Event ""Let's Play!""]\r\n[Site ""Chess.com""]\r\...",1/86400,True,daily,chess,913,win,Dgrayson64,989,timeout,CodingGambit
4,1,2019,https://www.chess.com/game/daily/213820378,"[Event ""Let's Play!""]\r\n[Site ""Chess.com""]\r\...",1/86400,True,daily,chess,971,timeout,CodingGambit,1312,win,piszke

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3830 entries, 0 to 3829
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month           3830 non-null   int64
 1   year            3830 non-null   int64
 2   url             3830 non-null   object
 3   pgn             3830 non-null   object
 4   time_control    3830 non-null   object
 5   rated           3830 non-null   bool
 6   time_class      3830 non-null   object
 7   rules           3830 non-null   object
 8   white_rating    3830 non-null   int64
 9   white_result    3830 non-null   object
 10  white_username  3830 non-null   object
 11  black_rating    3830 non-null   int64
 12  black_result    3830 non-null   object
 13  black_username  3830 non-null   object
dtypes: bool(1), int64(4), object(9)
memory usage: 422.6+ KB

In [4]:
df.rated.value_counts()

True     3679
False     151
Name: rated, dtype: int64

In [5]:
df.rules.value_counts()

chess         3814
chess960        12
threecheck       4
Name: rules, dtype: int64

In [19]:
opps = df.white_username.value_counts()
for name,val in df.black_username.value_counts().items():
    if name in opps:
        opps[name] += val
    else: opps[name] = val    
print(opps[1:6])

burakhd         52
Finnatic        42
Lyxarios        13
jannisritter     9
ravibihani       9
Name: white_username, dtype: int64

In [34]:
for time_control, count in df.time_control.value_counts().items():
    if "+" in time_control:
        times = time_control.split("+")
        mins = int(times[0]) // 60
        secs = int(times[1])
        print(f"{mins} minutes + {secs} {"seconds" if secs > 1 else "second"} increment")
    elif "/" in time_control:
        days = int(time_control.split("/")[1]) / 60 / 60 /24
        print(f"{days} days per turn")
    else:
        print(f"{int(time_control) // 60} minutes")

2 minutes + 1 seconds increment
3 minutes + 2 seconds increment
5 minutes + 5 seconds increment
10 minutes
1.0 days per turn
15 minutes + 10 seconds increment
3.0 days per turn
5 minutes
1 minutes
3 minutes
10 minutes + 5 seconds increment
14.0 days per turn
7.0 days per turn
1 minutes + 1 seconds increment
10.0 days per turn
2 minutes + 3 seconds increment
30 minutes
5 minutes + 2 seconds increment
5 minutes + 3 seconds increment
5.0 days per turn
2.0 days per turn

In [28]:
for time_format, count in df.time_class.value_counts().items():
    print(time_format, count)

blitz 1642
bullet 1454
rapid 388
daily 346